*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;}


    .header{
        background-image: url(../images/banner/banner2.png);
        background-position: center;
        background-size: cover;
        width: 1440px;
        height:650px;
    }
    .banner{
        text-align:right;
        padding-top: 150px;
        padding-right: 200px;
    }
    .banner-title{
       font-size: 50px;
       font-weight: bold;
    }
    .banner-description{
       color: #757575;
       padding-top: 20px;
       padding-bottom: 30px;
    }
    .btn-secondary{
        background: #fa6a04;
        color: white;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        padding: 15px 30px;
        border-radius: 5px;
    }