*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;}


    .header{
        background-image: url(../images/banner/banner2.png);
        background-position: center;
        background-size: cover;
        width: 1440px;
        height:650px;
    }
    .banner{
        text-align:right;
        padding-top: 150px;
        padding-right: 200px;
    }
    .banner-title{
       font-size: 50px;
       font-weight: bold;
    }
    .banner-description{
       color: #757575;
       padding-top: 20px;
       padding-bottom: 30px;
    }
    .btn-secondary{
        background: #fa6a04;
        color: white;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        padding: 15px 30px;
        border-radius: 5px;
    }

    /* failure styles */

      img{
       
        padding-top: 100px;
        padding-left: 200px;
    }
    .failure{
        display: flex;
    }
    
    
    .failure-two{
        margin-top: 150px;
        margin-left: 150px;
        
        
    }
    .list-icon {
        margin-right: 100px;
    }
    .failure-two ul li{
        list-style: none;
        font-size: 14px;
        
     }
    .failure-two ul li i{
       color: rgba(4, 109, 109, 0.941);
       margin-right: 10px;
      }

    .failure-title{
      font-size: 40px;
      font-weight: 700;
      margin-left: 35px;
    }
    .failure-description{
        margin-left: 35px;
        font-size: 14px;
    }

    /* my plan styles */
    
    .plan{

    }
    .plan h2{
        text-align: center;
        font-size: 36px;
    
    }
    .plan-me{
        display: flex;
    }
    .plan-item{
 
        text-align: center;
  
    }
    .plan-item h4{
        font-size: 20px;
       margin-left: 200px;
       padding-top: 10px;
       font-weight: 700;
       color: black;
    }
    .plan-item p{
        margin-left: 200px;
        padding-top: 20px;
        color: #757575;
    }
       
     
    
    
       
       

    /* watch styles */
    .hand-watch{
        height: 20px;
        width: 600px;
        background-image: linear-gradient(to bottom, rgba(230, 83, 54, 0.389), rgba(224, 110, 11, 0.73)), url(../images/watch.png);
        margin-left: auto;
        margin-right: auto;
        padding: 130px 150px;
        margin-bottom: 80px;
        margin-top: 100px;
        border-radius: 10px;
    }
   
    .watch-title{
       color: aliceblue;
      font-size: 30px;
      
    }
    .call-btn{
      background: white;
      color: #fa6a04;
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 5px;
      border-color: white;

    }
    .gradient{
      
        margin-bottom:20px;
    }

    /* footer styles */
    .title{
        background-color: black;
        color: aliceblue;
        display: flex;
        height: 500px;
    }
    .icon-one{
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .icon-description{
        margin-bottom: 20px;
    }
   
    .title ul{
       padding: 0;
       margin-top: 30px;
    }
    .title ul li{
       list-style: none;
       color: white;
       margin: 0 5px;
       display: inline-block;
    }
    .title ul li i{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: #fa6a04;
        display: flex;
        align-items: center;
        justify-items: center;
        background-color:white;
        font-size: 20px;
        cursor: pointer;

    } 
    .description{
        text-align: center;
        width: 30%;
        padding-left: 500px;
        padding-top: 100px;
        margin-right: 120px;
       
    }
    .description h5{
        font-size: 20px;
        margin-right: 200px;
        margin-bottom: 10px;
    }
    input{
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        padding: 20px;
        width: 250px;
        font-size: 17px;
    }
    
        ::placeholder {
            color: white;
        }
        .description button{
            padding: 20px 30px;
            width: 150px !important;
            background-color: white;
            border: none;
            color: #e65824;
            font-size: 18px;
            letter-spacing: .8px;
            margin-top: 25px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 10px;
            margin-right: 130px;
        }
        .title-zero{
            margin-left: 200px;
            padding-top: 80px;
        } 
        .icon-two{
            margin-bottom: 20px;
        }
    